<h1><%= gettext("Page not found") %></h1>
<p><%= gettext("Sorry, but the page you were trying to view does not exist.") %></p>

<!-- workaround for hiding navbar in 404 page -->
<style>
    nav {
        display: none !important;
    }
</style>
